{
  "domain": "",
  "region": "",
  "db": {
    "dev": "individual-report-development",
    "report": "individual-report",
    "report2": "individual-report-v2",
    "suspicious": "individual-report-v2-suspicious"
  },
  "recaptcha": {
    "secret": ""
  }
}
