{
  "host": {
    "domain": "",
    "region": "europe-west1"
  },
  "recaptcha": {
    "secret": "",
    "verifyurl": "https://recaptcha.google.com/recaptcha/api/siteverify"
  },
  "db": {
    "report": "",
    "suspicious": "",
    "dev": ""
  }
}
